<ion-view view-title="Account">

  <ion-content>

    <login-buttons></login-buttons>
    <div ng-show="$root.currentUser" >
      <div  class="list list-inset">
        <a class="item item-thumbnail-left" href="#">
          <img src="spengler.jpg">
          <h2>{{$root.currentUser.username}}</h2>
          <p></p>
        </a>
        <!-- <div class="item ">

        <ion-toggle ng-model="$parent.privateCheck" toggle-class="toggle-calm">Private</ion-toggle>
      </div> -->
      <li class="item item-toggle">
        Private
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="$parent.privateCheck">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>




      <!-- <div class="item">
      <img ng-if="post.imageData" class="full-image" src="{{post.imageData}}">
      <a class="profile-picture positive" ng-click="getPhoto()">
      <div ng-if="$root.currentUser.profile.picture">
      <img ng-src="{{ $root.currentUser.profile.picture }}" alt="profile picture">
      edit
    </div>
    <div ng-if="!$root.currentUser.profile.picture" class="upload-placehoder">
    Add photo
  </div>
</a>
</div> -->
</div>
<div class="list list-inset">

  <div class="item item-divider">
    Friends
  </div>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="$parent.searchFriendTxt">
  </label>
  <div ng-if="!$parent.searching">
    <div class="item item-avatar" href="#" ng-repeat="friend in friends">
      <img src="venkman.jpg">
      <h2>{{friend.username}}</h2>
      <p>Back off, man. I'm a scientist.</p>
    </div>
  </div>
  <div ng-if="$parent.searching">
    <div ng-repeat="searchedFriend in searchedFriends track by $index" class="item item-avatar item-toggle" href="#">
      <img src="venkman.jpg">
      <h2>{{searchedFriend.username}}</h2>
      <p>Back off, man. I'm a scientist.</p>
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="$parent.searchedFriends_following[$index]" ng-click="$parent.toggle_follow($index)" >
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
  </div>

  <!-- <a class="item item-avatar" href="#">
  <img src="venkman.jpg">
  <h2>Venkman</h2>
  <p>Back off, man. I'm a scientist.</p>
</a> -->

</div>


<div class="list list-inset">

  <div class="item item-divider">
    My Sound Feed
  </div>

  <a class="item item-thumbnail-left" href="#">
    <img src="nevermind.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>


</div>
</div>
</ion-content>

</ion-view>
