<!-- Sounds from people you are listening to sorted by most recent -->
<ion-view view-title="Sound Feed">
<div class="container"
     ng-controller="SoundFeedCtrl as sc">
  <ion-content>
<!--    <label class="display: none">
      <input type="checkbox" class="display:none" ng-model="$parent.completed"/>
      Hide Completed Task Status: {{checkText}}
    </label> -->
    <ul>
      <li ng-repeat = "cardData in feed" ng-init="drawBufferGlobalPart(a, a)" >
        <div class="list card">
          <div class="item item-avatar">
            <img src="profile-man.png">
              <div class = "card-header-container">
                <div class ="card-header-image">
                  <img src={{cardData.emote}} style="height:40px; width:40px">
                </div>
                <div class = "card-header-content">
                  <h2>{{cardData.title}}</h2>
                  <p>{{cardData.createdAt}}</p>
                  <p>{{cardData.username}}</p>
                </div>
              </div>
          </div>

          <div class="item item-body">
            <div class = "row">
        			<div id="viz" class = "col col-90">
        				<canvas id="wavedisplay a" style="width:95%; height:200px; background: #202020"></canvas>
        			</div>
        			<div id="controls" class = "col col-10">
        				<a id="save" href="" ><img src="save.svg"  style="height:40px; width:40px"></a>
        			</div>
        		</div>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>

  <!-- User can make a new sound clip here -->
  <ion-footer-bar class=" bar-positive">
    <div class="buttons"  ng-click="openModal()" style="width:100%">
      <button class="button button-balanced" style="width:100%">New Recording</button>
    </div>

  </ion-footer-bar>
</div>
</ion-view>
