<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

  <ion-tab title="Sound Feed" icon-on="ion-ios-infinite" icon-off="ion-ios-infinite-outline" href="#/tab/sounds">
    <ion-nav-view name="tab-sounds"></ion-nav-view>
  </ion-tab>

  <ion-tab title="What to hear" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/top-sounds">
    <ion-nav-view name="tab-top-sounds"></ion-nav-view>
  </ion-tab>
   <ion-tab title="Todo" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/todo">
    <ion-nav-view name="tab-todo"></ion-nav-view>
  </ion-tab>
<!--
  <ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Account" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
